.shellStyle {
    -xf-shell-tabbar-background: #272726;
    -xf-shell-tabbar-unselected: #941E82;
    -xf-shell-tabbar-title: #B8A4CF;
}

.recomendationButton {
    font-size: 18;
    height: 65;
    color: #B8A4CF;
    background-color: #1D1D1B;
    border-color: #941E82;
    border-radius: 15;
    border-width: 4;
    margin: 30 30 20 30;
}

.topFrame {
    font-style: bold;
    background-color: #1D1D1B;
    padding: 15 35 0 35;
}

label {
    color: #941E82;
    font-size: 16;
    font-weight: bold;
    font-family: 'Consolas';
}