/*HOME PAGE STYLE*/
.shellStyle {
    -xf-shell-tabbar-background: #313130;
    -xf-shell-tabbar-unselected: #941E82;
    -xf-shell-tabbar-title: #B8A4CF;
}

.recomendationButton {
    font-size: 18;
    height: 65;
    color: #B8A4CF;
    background-color: #1D1D1B;
    border-color: #941E82;
    border-radius: 15;
    border-width: 4;
    margin: 30 30 20 30;
}

/*top right bottom left*/

.topFrame {
    font-style: bold;
    background-color: #272726;
    padding: 20 20 0 20;
    margin: 0;
}

.headerLabel {
    color: #941E82;
    font-size: 16;
    font-weight: bold;
    font-family: 'Consolas';
}

.itemsPanel {
    flex-wrap: wrap;
    align-items: center;
}

.itemFrame {
    border-color: #941E82;
    padding: 0;
    margin: 10;
    background-color: #1D1D1B;
}

.itemImg {
    width: 165;
    height: 180;
}

.itemLabel {
    color: #B8A4CF;
    margin: 0 0 0 5;
    font-size: 13;
}

/*SEARCH PAGE STYLE*/

.searchEntry {
    margin: 30 30 20 30;
    height: 65;
    font-size: 18;
}


